<% if comment %>
<li>
    <div class="intro clearfix">
        <div class="fl">
            <span class="blue"><%= render_user_name(comment.user) %></span><span class="gray"> &frasl; <%= render_user_college(comment.user) %></span></div> 
        <div class="fr">
           <input type="button" value="和她聊聊" class="btn talk-btn">
            <span class="rate-starMax ">
                <span style="width: <%= render_star_percent(comment.ownerable) %>%;" class="rate-starMaxH ">
                </span>
            </span>
            <span class="date"><%= l comment.updated_at %></span>
        </div>
    </div>
    <p><%= comment.content %></p>
</li>
<% end %>