<% if @coach.comments_count > 0 %>
<div class="rate-detail countgroup"> 
    <div class="count-group">
        <span class="score">5分</span><span class="percent-box inline-block"><em style="width:<%= @coach.total_user_count_for(5) * 100 / @coach.comments_count %>%" class="percent inline-block"></em></span><%= @coach.total_user_count_for(5) %>人
    </div>
    <div class="count-group">
        <span class="score">4分</span><span class="percent-box inline-block"><em style="width:<%= @coach.total_user_count_for(4) * 100 / @coach.comments_count %>%" class="percent inline-block"></em></span><%= @coach.total_user_count_for(4) %>人
    </div>
    <div class="count-group">
        <span class="score">3分</span><span class="percent-box inline-block"><em style="width:<%= @coach.total_user_count_for(3) * 100 / @coach.comments_count %>%" class="percent inline-block"></em></span><%= @coach.total_user_count_for(3) %>人
    </div>
    <div class="count-group">
        <span class="score">2分</span><span class="percent-box inline-block"><em style="width:<%= @coach.total_user_count_for(2) * 100 / @coach.comments_count %>%" class="percent inline-block"></em></span><%= @coach.total_user_count_for(2) %>人
    </div>
    <div class="count-group">
        <span class="score">1分</span><span class="percent-box inline-block"><em style="width:<%= @coach.total_user_count_for(1) * 100 / @coach.comments_count %>%" class="percent inline-block"></em></span><%= @coach.total_user_count_for(1) %>人
    </div>
</div>
<% end %>