<%= simple_form_for [:cpanel, @college], :html => { :class => "form-horizontal", :enctype => "multipart/form-data" } do |f| %>
  <%= render "shared/error_messages", :target => @college %>
  <fieldset>
    <legend><%= legend %></legend>
    <%= f.input :name, :label => "大学名称", placeholder: "例如：四川" %>
    
    <div class="control-group">
      <%= f.label :city_id, "所属城市", class: "control-label" %>
      <div class="controls">
        <%= render_college_city_select_tag(@college) %>
      </div>
    </div>
    
    
    <div class="form-actions">
      <%= f.submit "保存", :disable_with => "正在提交...", :class => "btn btn-success" %>
      <%= link_to "返回", :back, :class => "btn" %>
    </div>
  </fieldset>
<% end %>
