<!DOCTYPE HTML>
<html lang="ch">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>登陆页面</title>
	<meta name="keywords" content="护驾">
	<meta name="description" content="帮助你更快的找到好驾校和教练"> 
	<meta name="author" content="YONG"> 
  <%= stylesheet_link_tag "front" %>
  <%= stylesheet_link_tag "user_login" %>
  
</head>
<body>
<div class="wrap">
	 <div class="clearfix login-top">
				<%= link_to image_tag("index-logo.jpg", alt: "U驾网", class: "fl", style: "width:200px; height:65px"), "/" %>
        <div class="fr">
					 <%= image_tag "login-tel.gif", alt: "400-8800-737", style: "width:17px; height:18px" %>
           <span>400-8800-737</span>
        </div>
	 </div>
	 <div class="clearfix">
	 	<div class="fl">
			<%= image_tag "login-bg.jpg", alt: "Login", style: "width:517px; height:372px" %>
	 	</div>
        <form action="">
	 		<div class="fr loginForm">
	 		    <div  class="login-form-wrap">  
                    <label class="block">用户名</label> 
                    <input type="text" class="loginIn block">
                    <label class="block">密码</label>
                    <input type="password" class="loginIn block">
                    <div class="clearfix checkbox-wrap">
                        <div  class="fl">
                            <input type="checkbox" value="">记住账号&emsp;
                        </div>
                         <div  class="fl">
                            <input type="checkbox" value="">下次自动登录
                        </div> 
                        <div class="fr">
                            <a href="" class="lightgray">忘记密码？</a>
                        </div> 
                    </div> 
	 			</div>
	 			<div class="login-btn-wrap">
                    <input type="button" value="登&emsp;&emsp;录" class="btn-yellow block">
                    <div class="tr">
                        <span class="lightgray">还没有账号？</span>
                        <a href="" class="red">免费注册</a>
                    </div> 
                </div>  
	 		</div> 
	 	</form> 
	 </div>
	 <p>版权所有 信息技术有限公司 Copyright@2014</p>
</div>
<% content_for :scripts do %>
<script type="text/javascript">	
$(function(){
	$('.in').placeholder(); 
}); 
</script> 
<% end %>
</body>
</html>