<ul class="user-nav">
	<li class="fb">我的代金券</li>
	<li class="dd <%= action_name == "coupons" ? "active" : "" %> "><%= link_to '已领取的代金券', coupons_user_path(current_user.nickname) %></li>
	<li class="dd <%= action_name == "actived_coupons" ? "active" : "" %>"><%= link_to '已激活的代金券', actived_coupons_user_path(current_user.nickname) %></li>
  <li class="dd <%= action_name == "active_code" ? "active" : "" %>"><%= link_to "激活代金券", active_code_user_path(current_user.nickname) %></li>
	<li class="fb">我的评价</li>
	<li class="dd <%= action_name == "comments" ? "active" : "" %>"><%= link_to "已评价", comments_user_path(current_user.nickname) %></li>
	<li class="dd <%= action_name == "uncomments" ? "active" : "" %>"><%= link_to "未评价", uncomments_user_path(current_user.nickname) %></li>
	<li class="fb">我的账户</li>
	<li class="dd <%= action_name == "edit" ? "active" : "" %>"><%= link_to "账户设置", edit_user_registration_path %></li>
</ul>