<% if @comments.empty? %>
没有找到相关的评价哦
<% else %>
<% @comments.each do |comment| %>

<div class="rated-wrap">
  <div class="rate clearfix rated">
    <div class="fl">
      <%= render_commentable_avatar(comment.commentable) %>
    </div>
    <div class="rate-section">
        <h3><%= render_ownerable_title(comment.commentable) %></h3> 
        <div class="rateItem">
            <div>
                <%= render_all_ratings(comment) %>
            </div> 
            <!--span class="red"><%= render_comment_status(comment) %></span-->
        </div> 
    </div>
     <div class="fr edit">
       <% if comment.user == current_user %>
            <a href="<%= edit_comment_path(comment) %>"><i class="edit-icon"></i>修改</a>
            <!--a href=""><i class="del-icon"></i>删除</a-->	
        <% end %>
     </div>
  </div>
  <div class="evaluate">
      <p><%= comment.content %></p>
  </div>
</div>

<% end %>
<% end %>