<table class="table table-hover">
  <tr class="head">
    <td class="first">ID</td>
    <td>代金券面额</td>
    <td>代金券有效期</td>
    <td>代金券剩余数量</td>
    <td>代金券是否激活</td>
    <td>领取时间</td>
    <td style="width:140px"></td>
  </tr>
  
  <% @vouchings.each do |vouch| %>
  <tr>
    <td class="first"><%= vouch.coupon.id %></td>
    <td><%= vouch.coupon.value %></td>
    <td><%= "#{vouch.coupon.start_date}至#{vouch.coupon.end_date}" %></td>
    <td><%= vouch.coupon.publish_count - vouch.coupon.actives_count %></td>
    <td></td>
    <td><%= l vouch.created_at, :format => :short %></td>
  </tr>
  <% end %>
</table>