<div class="voucherBox">
    <h1 class="title">我的代金券</h1>
    
		<% if @vouchings.empty? %>
		还没有领取代金券!!!
		<% else %>
    
    <% @vouchings.each do |v| %>
    <table class="voucherT">
        <tr class="th">
            <th class="msg">代金券信息</th>
            <th class="num">数量</th>
            <th class="price">优惠后的价</th>
            <th class="statu">代金券状态</th>
            <th class="opt">操作</th>
        </tr>

        <tr id="tr_item_<%= v.id %>" class="td">
            <td>
                <div class="clearfix picW">
                    <div class="fl">
                        <%= render_commentable_avatar(v.coupon.try(:ownerable), :link => false) %>
                    </div>
                    <div class="fl vouchList">
                        <p class="fb"><%= v.coupon.try(:title) %></p>
                        <p class="date">有效期至：<%= v.coupon.try(:end_date) %></p>
                        <p><%= link_to "教练信息", v.coupon.try(:ownerable), class: "red", target: "_blank" %></p>
                    </div>
                </div>
            </td>
            <td>1</td>
            <td>￥<%= render_coupon_price(v.coupon.try(:ownerable)) %></td>
            <td><%= render_vouching_coupon_status(v) %></td>
            <td>
                <%= render_vouching_link_tag(v) %>
            </td>
        </tr>
				
         
    </table>
    <% end %>
		<div style="text-align:center"><%= will_paginate @vouchings %></div>
		<% end %>
</div>