<% content_for :styles do %>
<%= stylesheet_link_tag "home" %>
<% end %>

<div class="clearfix">
  <% if @colleges.any? -%>
  <%= render 'home/colleges', :colleges => @colleges %>
  <% end -%>
  
  <%= render "home/slidesbox" %>
  
  <%= render "home/sidebar" %>
</div>

<%= render "home/hot_coaches" %>

<%= raw SiteConfig.qr_and_use_intro %>

<% content_for :scripts do %>

  <script type="text/javascript">
    $(function () {
        $('.srcIn').placeholder();
        var $slides = $("#slides a");
        var slides_length = $slides.length - 1;
        var slides_flag = 0;
        var speed = 3000;
        var slides_auto = setInterval(showNext, speed);
        slides_init(0);
        $(".slidesjs-previous,.slidesjs-next,.slidesjs-pagination li").hover(function () {
            clearInterval(slides_auto);
        }, function () {
            slides_auto = setInterval(showNext, speed);
        });
        $(".slidesjs-pagination li").hover(function () {
            slides_flag = $(".slidesjs-pagination li").index($(this)[0]);
            slides_init(slides_flag);
        }); 
        function slides_init(index) {
            $slides.hide().eq(index).show()
                .parent().next().find("li").removeClass("active")
                .eq(index).addClass("active");
        }

        function showNext() {
            if (!$slides.is(":animated")) {
                if (slides_flag == slides_length) {
                    slides_init(0);
                    slides_flag = 0;
                } else {
                    slides_flag++;
                    slides_init(slides_flag);
                }
            }
        };

        function showPre() {
            if (!$slides.is(":animated")) {
                $slides.hide().removeClass("active");
                if (slides_flag == 0) {
                    slides_init(slides_length);
                    slides_flag = slides_length;
                } else {
                    slides_flag--;
                    slides_init(slides_flag);
                }
            }
        }
    });
</script>

<% end %>