<div class="leftwrap fl">
    <dl class="nav-category clearfix">
        <dt>校区：</dt>
        <dd>
            <%= filterable(:c) %>
            <% @colleges.each do |c| %> 
            <%= filterable(:c, c.name, c.name) %>
            <% end %>
        </dd>
        <dt>驾照：</dt>
        <dd>
            <%= filterable(:dt) %>
            <% drive_types.each do |dt| %>
            <%= filterable(:dt, dt[0], dt[0]) %>
            <% end %>
        </dd>
        <dt>交通：</dt>
        <dd>
            <%= filterable(:st) %>
            <% service_types.each do |c| %>
            <%= filterable(:st, c[0], c[0]) %>
            <% end %>
        </dd>
        <dt>支付：</dt>
        <dd>
            <%= filterable(:pt) %>
            <% payment_types.each do |c| %>
            <%= filterable(:pt, c[0], c[0]) %>
            <% end %>
        </dd>
        <dt>价格：</dt>
        <dd>
            <%= filterable(:price) %>
            <% price_scopes.each do |s| %>
            <%= filterable(:price, s, s) %>
            <% end %>
        </dd>
    </dl>
    <div class="sort clearfix">
        <span class="fl">排序</span>
        <%= sort_link 'c_ccount', "销量" %>
        <%= sort_link 'comments_count', "星级" %>
        <%= sort_link 'price', "价格" %>
    </div>
    
    <div style="text-align:right;"><%= will_paginate @coaches %></div>
    
    <% if @coaches.any? %>
    <ul class="list productList clearfix">
      <% if @query_string.present? %>
      <div class="result">找到<span class="red fb">“<%= @query_string %>”</span>的相关结果 <span class="red fb"><%= @total %>个</span></div>
      <% end %>
      
     <%= render partial: "/coaches/coach", collection: @coaches %>
    </ul>
    <% else %>
    <%= render "/search/no_result" %>
    <% end %>

    <div style="text-align:right;"><%= will_paginate @coaches %></div>
</div>

<div class="rightwrap fr">
	<%= raw SiteConfig.xcxz_content %>
</div>

<%= raw SiteConfig.qr_and_use_intro %>

<% content_for :scripts do  %>
<script>

$(function() {
  $(".sort a, .sort .pagination a").live("click", function() {
    alert(123);
    $.getScript(this.href);
    return false;
  });
});

</script>
<% end %>

