<div class="leftwrap fl">		 
	<%= render '/coaches/info' %>
    <!-- detail tabs start-->
  <div class="detail-tabs">
        <ul class="tabs clearfix">
            <li class="active"><a href="#map">驾校/教练位置</a></li>
            <li><a href="#purchase-notice">购买须知</a></li>
            <li><a href="#intro">驾校/教练介绍</a></li>
            <li><a href="#ratings">消费评价</a></li>
        </ul>
        
        <div id="map">
          <h2>驾校位置</h2>
          <div class="map">
              <p><a href="" class="red"><%= render_service_colleges(@coach) %></a>
              </p> 
              <ul>
                  <li><span class="fb">商家累积评分： </span><span class="ratemap inline-block"><span class="rate-stars" style="width:<%= render_star_percent(@coach) %>%"></span></span><span class="orange fb"><%= render_comment_avarge_score(@coach) %></span>分&emsp;<span class="orange"><%= @coach.comments_count %>人评价</span>
                  </li>
                  <li><span class="fb">地址： </span><%= @coach.location %></li>
                  <li><span class="fb">电话： </span><%= @coach.mobile %></li>
              </ul>
          </div>
        </div>
        
        <div class="notice" id="purchase-notice">
          <h2>购买须知</h2> 
          <dl class="clearfix">
              <dt>有效期</dt>
              <dd><%= render_coupon_expired_duration(@coach) %></dd>
              <dt>服务校区</dt>
              <dd><%= render_service_colleges(@coach) %></dd>
              <dt>驾照类型</dt>
              <dd class="fb"><%= @coach.drive_type %></dd>
              <dt>交通接送</dt>
              <dd class="fb"><%= @coach.service_type %></dd>
              <dt>特别说明</dt>
              <dd class="fb">体检，暂住证，补考费需另行缴纳。按国家规定收取</dd>
          </dl> 
        </div>
        
        <div id="intro">
          <h2>驾校/教练介绍</h2>
          <div class="detail-intro">
            <%= @coach.intro %>
          </div>
        </div>
              
        <div id="ratings">
          <h2>消费评价</h2>
          <div class="clearfix rateWrap" id="ratings">
  						<%= render "/comments/overall_rating", :commentable => @coach %>
  						<%= render "/comments/detail_rating", :commentable => @coach %>
  						<%= render "/comments/statics", :commentable => @coach %>
          </div> 
				
  				<%= render_comments_for_owner(@coach) %>
        </div>
      
    </div>
    <!-- detail tabs end-->
    <!--pagewrap start-->
    <!--pagewrap end-->
</div>

<div class="rightwrap fr">
	<%= raw SiteConfig.xcxz_content %>
  <%= raw SiteConfig.text_ads %>
</div>

<%= raw SiteConfig.qr_and_use_intro %>

<% content_for :scripts do %>
    <script type="text/javascript">
        $(function () {
            $('.srcIn').placeholder();
            var firstSrc=$(".topicul").find("img:first").data("large-image-src");//attr("src");
            $(".imgBig img").attr("src",firstSrc); 
            $( ".topicul img" ).on( "click", function() { 
                var minsrc=$(this).data("large-image-src"); 
                $(".imgBig img").attr("src",minsrc);
            });
            $(".talk-btn").click(function(){
                $(".overlay").show();
            });
            $(".cancel").click(function(){
                 $(".overlay").hide();
            });
        });
        
        $(function() {
          $(".detail-tabs li").on("click", function() {
            var eles = $(".detail-tabs li");
            eles.each (function () {
              $(this).attr("class", "");
            });
            $(this).attr("class", "active");
          });
        });
    </script>
    <script type="text/javascript">
	//图片滚动 top 
  	 $(function() { 
		    //配置变量
		    var config = {
		        showNum : 5,    //设置滚动的显示个数
		        autoScroll : false    //是否自动滚动，默认为 false 
		    } 
		    var scrollUlWidth = $('ul.topicul li').outerWidth(true),  //单个li 的宽度
		        scrollUlLeft = 0,    //.scroll_ul 初使化时的 left 值为 0
		        prevAllow = true,    //为了防止连续点击上一页按钮
		        nextAllow = true;    //为了防止连续点击下一页按钮 
				
		    //计算父容量限宽
		    $('.topicList').width(config.showNum * scrollUlWidth); 
		    //点击上一页
		    $('#prev').click(function() {
		        if (prevAllow) {
		            prevAllow = false;
		            scrollUlLeft = scrollUlLeft - scrollUlWidth;
		            $('.topicul').css('left', scrollUlLeft);
		            //复制最后一个 li 并插入到 ul 的最前面
		            $('.topicul li:last').clone().prependTo('.topicul');
		            //删除最后一个 li
		            $('.topicul li:last').remove();
		            $('.topicul').animate({
		                left : scrollUlLeft + scrollUlWidth
		            },10, function() {
		                scrollUlLeft = parseInt($('.topicul').css('left'), 10);
		                prevAllow = true;
		            })
		        }
		    }); 
		    //点击下一页
		    $('#next').click(function() {
		        if (nextAllow) {
		            nextAllow = false;
		            $('.topicul').animate({
		                left : scrollUlLeft - scrollUlWidth
		            }, 10, function() {
		                scrollUlLeft = parseInt($('.topicul').css('left'), 10);
		                scrollUlLeft = scrollUlLeft + scrollUlWidth;
		                $('.topicul').css('left', scrollUlLeft);
		                //复制第一个 li 并插入到 ul 的最后面
		                $('.topicul li:first').clone().appendTo('.topicul');
		                //删除第一个 li
		                $('.topicul li:first').remove();
		                nextAllow = true;
		            })
		        }
		    }); 
		})  
	</script>
<% end %>