<% content_for :sitemap do %>
  <span class="current">修改教练信息</span>
<% end %>

<%= simple_form_for([:cpanel, @coach], :html => { :class => "form-horizontal",:enctype => "multipart/form-data" }) do |f| %>
  <fieldset>
    <%= render "shared/error_messages", :target => @coach %>
    
    <%= render "/cpanel/coaches/common_form_fields", :f => f %>
    
    <div class="form-actions">
      <%= f.submit "保存", :disable_with => "正在提交...", :class => "btn btn-success" %>
      <%= link_to "返回", :back, :class => "btn" %>
    </div>
    
  </fieldset>
<% end %>