<% content_for :sitemap do %>
  <span class="current">教练信息</span>
<% end %>

<%= render_list_header("教练信息", "新建教练信息", "/cpanel/coaches/new" ) %>
<table class="table table-hover">
  <tr class="head">
    <td class="first">ID</td>
    <td>Icon</td>
    <td>真实姓名</td>
    <td>所属公司</td>
    <td style="width:200px">地址</td>
    <td>手机</td>
    <td>at</td>
    <td style="width:140px"></td>
  </tr>
  
  <% @coaches.each do |coach| %>
  <tr id="coach_tr_<%= coach.id %>">
    <td class="first"><%= coach.id %></td>
    <td><%= render_coach_icon(coach, :thumb, :url => cpanel_coach_path(coach)) %></td>
    <td><%= link_to coach.real_name, [:cpanel, coach] %></td>
    <td><%= coach.company %></td>
    <td><%= coach.location %></td>
    <td><%= coach.mobile %></td>
    <td><%= l coach.created_at, :format => :short %></td>
    <td>
      <%= link_to "编辑", edit_cpanel_coach_path(coach), :class => "btn btn-mini" %>
      <a href="#" data-confirm="你确定吗？" data-remote="true" data-id="<%= coach.id %>" onclick="App.deleteCoach(this);" class="btn btn-mini btn-danger">删除</a>
    </td>
  </tr>
  <% end %>
</table>

<div style="text-align:center;"><%= will_paginate @coaches %></div>