<% content_for :sitemap do %>
  <span class="current">新建教练信息</span>
<% end %>

<%= simple_form_for([:cpanel, @coach], html: { :class => "form-horizontal",:enctype => "multipart/form-data" }) do |f| %>
  <fieldset>
    <%= my_custom_error_messages!(@coach) %>
    <legend>登录信息</legend>
    
    <%= f.fields_for @coach.user do |uf| %>
    <%= uf.input :nickname, label: "用户名",placeholder: "用户名", :input_html => { :style => "width: 180px;" } %>
    <%= uf.input :email, label: "邮箱",placeholder: "邮箱", :input_html => { :class => "span5", :placeholder => "foo@bar.com" } %>          
    <%= uf.input :password, label: "密码" %>
    <%= uf.input :password, label: "确认密码" %>
    <% end %>
    
    <%= render "/cpanel/coaches/common_form_fields", :f => f %>
    
    <div class="form-actions">
      <%= f.submit "保存", :disable_with => "正在提交...", :class => "btn btn-success" %>
      <%= link_to "返回", :back, :class => "btn" %>
    </div>
    
  </fieldset>
<% end %>