<!-- footer start -->
<div class="footer">
    <div class="wrap">
        <dl>
            <dt>消费说明</dt>
            <dd><a href="/coupon_use_intro">现金券使用</a>
            </dd>
        </dl>
        <dl class="foot-center borlr">
            <dt>服务保障</dt>
            <dd><a href="">保证金担保</a>
            </dd>
            <dd><a href="">赔付申请</a>
            </dd>
            <dd><a href="">权益保护</a> 
            </dd>
            <dd><a href="">用户协议</a> 
            </dd>
        </dl>
        <dl>
            <dt>帮助中心</dt>
            <dd><a href="">维权中心</a>
            </dd>
        </dl>
        <dl class="teldl">
            <dt>全国客户热线</dt>
            <dd class="foot-tel">
                <%= image_tag "topb.gif", alt: "tel" %>400-8800-737
            </dd>
            <dt>客服邮箱</dt>
            <dd class="foot-email">
                <%= image_tag "email.gif", alt: "tel" %>kf@163.com
            </dd>
        </dl>
    </div>

    <p class="copyright"><a href="">关于我们</a>&emsp;|&emsp;<a href="">诚聘英才</a>&emsp;|&emsp;<a href="">诚邀代理</a>&emsp;|&emsp;<a href="">安全说明</a>&emsp;|&emsp;<a href="">意见建议</a>&emsp;|&emsp;<a href="">友情链接</a>
    </p>
    <ul class="foot-img clearfix">
        <li>
            <%= image_tag "logox.jpg", alt: "foot", class: "fl" %>
            <span>四川电子商务<br/>协会理事单位</span>
        </li>
        <li>
            <%= image_tag "logoh.jpg", alt: "foot", class: "fl" %>
            <span>不良信息<br/>举报中心</span>
        </li>
        <li>
            <%= image_tag "logos.jpg", alt: "foot", class: "fl" %>
            <span>网上交易<br/>保证中心</span>
        </li>
        <li class="ICP">川ICP证1000000号</li>
    </ul>
    <p>郑重声明：未经授权禁止转载、摘编、复制或建立镜像。如有违反，追究法律责任。</p>
    <p>版权所有 信息技术有限公司 Copyright@2014</p>
</div>
<!--footer end   --> 