
<div class="header-top">
  <div class="wrap clearfix">
    <div class="fl">
        <%= link_to "收藏#{SiteConfig.app_name}", 'javascript:;', title: "收藏#{SiteConfig.app_name}", class:"favorite", onclick: "App.addToFavorite(this,'http://hujia361.com')" %>
    </div>
    <div class="fr">
      <% if user_signed_in? %>
      Hi, <%= current_user.nickname %>
      <span class="line">|</span><%= render_user_profile_link %>
      <% if current_user.admin? %>
      <span class="line">|</span><%= link_to '进入后台', cpanel_root_path %>
      <% end %>
      <span class="line">|</span><%= link_to '退出', destroy_user_session_path, :method => :delete %>
      <% else %>
      来人护驾
      <span class="line">|</span><%= link_to '用户登录', new_user_session_path %>
      <span class="line">|</span><%= link_to '用户注册', u_sign_up_path %>
      <% end %>
      
    </div>
  </div>
</div>
