<!DOCTYPE html>
<html lang="ch">
<head>
  <%= render_page_title %>
  <%= stylesheet_link_tag "front" %>
  <%= yield :styles %>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="keywords" content="<%= @meta_keywords %>" />
  <meta name="description" content="<%= @meta_description %>" />
  <meta charset="utf-8" />
  <link rel="shortcut icon" href="<%= asset_path("fav.png") %>" />
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= csrf_meta_tags %>
</head>

<%= render_body_tag %>

<%= render "layouts/header" %>

<div class="mainwrap clearfix">
  <%= notice_message %>
  <%= content_for?(:content) ? yield(:content) : yield %>
</div>
  
<%= render "layouts/footer" %>

<%= javascript_include_tag "application" %>

<%= yield :scripts %>

<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F876ac018074f2b4cefb798385d3d3332' type='text/javascript'%3E%3C/script%3E"));
</script>

</body>
</html>
