<% content_for :styles do %>
  <%= stylesheet_link_tag "users" %>
<% end %>

<% content_for :content do %>
<div class="selfWrap clearfix"> 
  <div class="selfL fl">
    <%= render "users/info" %>
    <%= render "users/menu" %>
  </div>
  <div class="selfR fl">
    <%= yield %>
  </div>
</div>
<% end %>

<%= render :template => 'layouts/application' %>