<% content_for :styles do %>
<%= stylesheet_link_tag "users" %>
<% end %>

<div class="row">
  <div class="span9">
    
    <% 
    # customized code begin
    
    utype = params[:user][:user_type] || @user_type || "customer"
    
    if ["customer", "coach", "school"].include? utype.downcase
      child_class_name = utype.downcase.camelize
      user_type = utype.downcase
    else
      child_class_name = "Customer"
      user_type = "customer"
    end
    
    resource.profile = child_class_name.constantize.new if resource.profile.nil?
    
    # customized code end
     %>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { class:"form-horizontal reg-form",:enctype => "multipart/form-data" }) do |f| %>
        <fieldset>
          <%= my_devise_error_messages! %>
          <%= f.input :email, label: "邮箱",placeholder: "邮箱", hint: "请您一定要输入有效的邮箱，忘记密码会通过此邮箱找回", input_html: {  placeholder: "foo@bar.com" } %>
          <%= f.input :nickname, label: "用户名",placeholder: "用户名", hint: "3-20位字符，只允许数字、大小写字母和下划线" %>
                    
          <%= f.input :password, label: "密码" %>
          <%= f.input :password, label: "确认密码" %>
          
          <% # customized code begin %>
          <%= f.fields_for resource.profile do |pf| %>
          <% render :partial => "#{child_class_name.underscore}_fields", :locals => { :f => pf } %>
          <% end %>
          
          <%= hidden_field :user, :user_type, :value => user_type %>
          
          <% # customized code end %>
          
         <input class="submit-btn btn-yellow" data-disable-with="正在提交..." name="commit" type="submit" value="同意以下协议，提交注册!" />
          
          <div class="law">
              <h2 class="fb">一、本站服务条款的确认和接纳</h2>
              <p>
                  本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项本站的各项
              </p>
          </div>
          
        </fieldset>
      <% end %>
    </div>
  </div>